Source: libanyevent-yweather-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7etch1)
Maintainer: Rainer Clasen <bj@zuto.de>
Standards-Version: 3.7.2

Package: libanyevent-yweather-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends},
 libanyevent-perl, libanyevent-http-perl, libjson-perl, liburi-perl
Recommends: libjson-xs-perl
Description: library for accessing yweather weather API
 routines and helper to access the yweather weather API

